/* html, body {
  text-align: center; 
  background: rgba(139, 234, 255, 0.97);  
}

.order-button{
    text-align: center;
    display: inline block;
    background: red;
    color: black;
    font-size: 40px;
    text-decoration: none;
    padding: 10px;
}

h1{
    font-size: 50px;
}

h2{
    margin: 0px;
}

p{
    font-size: 30px;
}

.menu{
    margin: 50px auto;
}

.menu th{
    padding: 50px;
    font-size: 30px;
} */